<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Libro</th>
            <th>Autor</th>
            <th>Edicion</th>
            <th>Paginas</th>
        </tr>
        {{#each libros }}
            <tr>
                <td>{{this.Libro}}</td>
                <td>{{this.Nombre}}</td>
                <td>{{this.Edicion}}</td>
                <td>{{this.Paginas}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>