<!-- <form action="/enviar_archivo" method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" id="archivo"><br>
    <input type="file" name="foto" id="foto"><br>
    <input type="file" name="documento" id="documento"><br>
    <input type="submit" value="Enviar">
</form> -->
<form action="/enviar_multiarchivo" method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" id="archivo" multiple><br>   
    <input type="submit" value="Enviar">
</form>
